@{
    var controller = ViewContext.RouteData?.Values["controller"]?.ToString();
}

<div class="circle-menu">
    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>
<div class="inner-menu js-menu">
    <ul class="nav">
        <li class="nav__item"><a class="@(controller == "home" ? "active" : string.Empty)" asp-controller="Home" asp-action="">About</a></li>
        <li class="nav__item"><a class="@(controller == "resume" ? "active" : string.Empty)" asp-controller="Resume" asp-action="Index">Resume</a></li>
        <li class="nav__item"><a class="@(controller == "portfolio" ? "active" : string.Empty)" asp-controller="Portfolio" asp-action="Index">Portfolio</a></li>
        <li class="nav__item"><a class="@(controller == "blog" ? "active" : string.Empty)" asp-controller="Blog" asp-action="Index">Blog</a></li>
        <li class="nav__item"><a class="@(controller == "contact" ? "active" : string.Empty)" asp-controller="Contact" asp-action="Index">Contact</a></li>
    </ul>
</div>