@model GetBlogViewModel

<!-- Post -->
<div class="pb-3">
	<header class="header-post">
		<div class="header-post__date">@Model.GetBlogDto.PublishDate.ToString("MMMM dd, yyyy")</div>
		<h1 class="title title--h1">@Model.GetBlogDto.Title</h1>
		<div class="caption-post">
			<p></p>
		</div>
		<div class="header-post__image-wrap">
			<img class="cover lazyload" src="~/images/@Model.GetBlogDto.Image" alt="@Model.GetBlogDto.Slug" />
		</div>
	</header>
	<div class="caption-post">
		<p>@Model.GetBlogDto.Content</p>
	</div>
	<footer class="footer-post">
		@foreach(var socialMedia in Model.SocialMediaIconDtos)
		{
			<a class="footer-post__share" href="@socialMedia.Link"><i class="font-icon icon-@socialMedia.Icon"></i><span>@socialMedia.Name</span></a>
		}
	</footer>
</div>