@model List<GetAllBlogDto>

<div class="pb-2">
    <h1 class="title title--h1 first-title title__separate">Blog</h1>
</div>

<div class="news-grid pb-0">
    @foreach (var blog in Model)
    {
        <article class="news-item box">
            <div class="news-item__image-wrap overlay overlay--45">
                <div class="news-item__date">@blog.PublishDate.ToString("MMM dd, yyyy")</div>
                <a asp-route-slug="@blog.Slug" class="news-item__link"></a>
                <img class="cover lazyload" src="~/images/@blog.Image" alt="@blog.Slug" />
            </div>
            <div class="news-item__caption">
                <h2 class="title title--h4">@blog.Title</h2>
                <p>@blog.Content[..Math.Min(49, blog.Content.Length)]...</p>
            </div>
        </article>
    }
</div>